@model OdeToMood

<div class="mood">
    <h3>@Model.Name</h3>
    @*<div>
        Cuisine: @Model.Cuisine
    </div>*@
    <div>
        <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        
        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>
</div>